<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9b21a25-f2e3-4345-bf27-fd5ae83a8d0c" Alias="Mens Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MensBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-10-26T14:47:51</CreateDate>
    <NodeName Default="Mens Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c5edbace-bb95-47cc-a3c4-5acd250276e6">Blog</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <blogTitle>
      <Value><![CDATA[]]></Value>
    </blogTitle>
  </Properties>
</Content>