<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d52fbce7-4fa8-4112-87d4-d38f417f07bc" Alias="Blog - Blog Title - Textbox" Level="1">
  <Info>
    <Name>Blog - Blog Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>