<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65b81f03-86f3-4b3f-961e-57c0147f486d" Alias="Calendar Page - Block Grid - Block Grid" Level="1">
  <Info>
    <Name>Calendar Page - Block Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7e6845e4-d979-4f1b-9212-a0bd374ea241",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/FullCalendar.BlockItem/css/fullcalendar.min.css",
      "thumbnail": null,
      "view": "~/App_Plugins/FullCalendar.BlockItem/fullCalendar.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>