<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dde8693f-36aa-4702-8c1c-e47129515e8b" Alias="Kontakt - address - Email address" Level="1">
  <Info>
    <Name>Kontakt - address - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>