<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a207ed8c-b77f-42e5-aa10-4d140d7be454" Alias="Kontakt - contactFormEmail - Email address" Level="1">
  <Info>
    <Name>Kontakt - contactFormEmail - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>