<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a782f448-8ef3-4e65-9c31-6ec0e6627590" Alias="Spelad match - På hemmaplan - Checkbox list" Level="1">
  <Info>
    <Name>Spelad match - På hemmaplan - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Hemmaplan"
    }
  ]
}]]></Config>
</DataType>