<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af64e551-fb41-4853-b4ad-384902c4426b" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>En blogg template</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5edbace-bb95-47cc-a3c4-5acd250276e6">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3cdf9e3f-0a03-4e5d-a18d-0b87fe669353" SortOrder="0">blogEntry</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>