<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3cdf9e3f-0a03-4e5d-a18d-0b87fe669353" Alias="blogEntry" Level="1">
  <Info>
    <Name>Blog Entry</Name>
    <Icon>icon-calendar color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Ett blogginlägg</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlogEntry</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bf8ad8d4-ec8d-45c0-930e-ded3ce547c38</Key>
      <Name>Innehåll</Name>
      <Alias>blogContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inläggets innehåll]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="blogginlgg">Blogginlägg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37215f33-b72e-4c93-a3d2-2b55be076c84</Key>
      <Name>Publiceringsdatum</Name>
      <Alias>blogDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Publiceringsdatum (frivilligt - om du vill skriva över det automatiskt registrerade datumet)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="blogginlgg">Blogginlägg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93cdb34c-b15f-499e-aea4-78a1400ed0a6</Key>
      <Name>Publiceringsalias</Name>
      <Alias>blogEntryAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alias för publicist (frivilligt - om du vill skriva över det alias som Umbraco förser)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="blogginlgg">Blogginlägg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7603e649-c56c-4a12-8626-3d5f5e36d4aa</Key>
      <Name>Rubrik</Name>
      <Alias>blogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inläggets rubrik]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogginlgg">Blogginlägg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b166f0af-a5ac-4f45-880c-f2ba2e482aa1</Key>
      <Caption>Blogginlägg</Caption>
      <Alias>blogginlgg</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>