<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d8e3b7c-97c5-4cee-9ddc-05b1163d0c9a" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b03da7b9-a44d-4a5e-9697-c19e2d05e94d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="027297b3-0735-4f60-8265-84d7bbfb4223" SortOrder="0">herr</ContentType>
    <ContentType Key="0c182c7c-dc1e-4f26-a121-93cc96674edc" SortOrder="1">juniorer</ContentType>
    <ContentType Key="09d025f2-2d30-4480-83ae-dd4918e79608" SortOrder="2">kontakt</ContentType>
    <ContentType Key="9a5b64f1-e2bb-483a-9ec2-fba3e9567409" SortOrder="3">loginPage</ContentType>
    <ContentType Key="14a0c306-ccba-4ec7-90cf-ad80e0b3ead9" SortOrder="4">loggedIn</ContentType>
    <ContentType Key="001d04d2-61e8-4dc8-9070-5c6d187c418e" SortOrder="5">calendarPage</ContentType>
    <ContentType Key="af64e551-fb41-4853-b4ad-384902c4426b" SortOrder="6">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>01c52f8e-6174-4f57-9671-0792fb7f0ad6</Key>
      <Name>Body text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Body text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>734ce94f-3e72-45c2-8321-d7d6d0f82549</Key>
      <Name>Header text</Name>
      <Alias>headerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44280ea8-e4c0-4a4c-b17c-8319885e433f</Key>
      <Name>Hero Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header to be shown in the hero]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>529516a9-c571-4dee-9dee-b62e7afd98e7</Key>
      <Name>Hero image</Name>
      <Alias>heroImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hero image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>587bd11e-f10b-4429-ab55-5ec47d3f17ce</Key>
      <Name>Hero Text</Name>
      <Alias>heroText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to be displayed in the hero, below the header.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ebcc77f-a8b0-4c2b-83f0-7f74b82baaab</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logotype]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>051c61f4-b7d3-40c9-921e-969ed9e883ee</Key>
      <Name>Datum och tid</Name>
      <Alias>mensNextGameDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datum och tid matchen ska spelas]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/kommandeMatchHerrar">Kommande match herrar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49ae9b68-2657-454f-b345-507e75a25a1e</Key>
      <Name>På hemmaplan?</Name>
      <Alias>mensNextGameLocation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/kommandeMatchHerrar">Kommande match herrar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de9d5de2-a099-4350-bd17-9bdfc4c4af2e</Key>
      <Name>Rubrik</Name>
      <Alias>mensNextGameTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/kommandeMatchHerrar">Kommande match herrar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86102ea6-2651-4e70-834f-aebc7ef01032</Key>
      <Name>Klubbnamn</Name>
      <Alias>mensNextOpponent</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Namnet på mötande klubb]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/kommandeMatchHerrar">Kommande match herrar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6a8f3de-a46e-4a53-bb21-973ed8dd4933</Key>
      <Name>Motståndarlagets logotyp</Name>
      <Alias>mensOpponentLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ladda upp en bild av motståndarlagets logotyp]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/kommandeMatchHerrar">Kommande match herrar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f3ee8c4-2b2e-46cc-a6bd-289ae568c487</Key>
      <Name>Datum och tid</Name>
      <Alias>womensNextGameDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datum och tid matchen ska spelas]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/kommandeMatchDamer">Kommande match damer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5927b6f6-1199-438b-b3f6-bfb05f13314c</Key>
      <Name>På hemmaplan?</Name>
      <Alias>womensNextGameLocation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vart spelas matchen?]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/kommandeMatchDamer">Kommande match damer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dd4b39b-4c8e-4e91-9df3-4ae9fa39d99b</Key>
      <Name>Rubrik</Name>
      <Alias>womensNextGameTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/kommandeMatchDamer">Kommande match damer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11921fd9-dbd1-4657-bb6f-000a82612831</Key>
      <Name>Klubbnamn</Name>
      <Alias>womensNextOpponent</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Namnet på mötande klubb]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/kommandeMatchDamer">Kommande match damer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbf1f3f2-d209-4db4-b2a1-89c4c336c380</Key>
      <Name>Motståndarlagets logotyp</Name>
      <Alias>womensOpponentLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ladda upp en bild av motståndarlagets logotyp]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/kommandeMatchDamer">Kommande match damer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2d648c31-6adc-41d5-98cb-8cf7605ce339</Key>
      <Caption>Kommande match herrar</Caption>
      <Alias>settings/kommandeMatchHerrar</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>6ecb132f-a7e0-4201-961b-efc134073b05</Key>
      <Caption>Hero</Caption>
      <Alias>settings/hero</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a49edb14-b0d0-470f-a8f3-ebf561efb49a</Key>
      <Caption>Content</Caption>
      <Alias>settings/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>afbaffc0-9836-44a9-8556-61a1eb3cfc9c</Key>
      <Caption>Kommande match damer</Caption>
      <Alias>settings/kommandeMatchDamer</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>ebfc401e-eb8f-4968-bfb8-ed1efe89300b</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>