<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2e47f5f-ed5e-4947-bbe2-cd05d077f802" Alias="speladeMatcher" Level="1">
  <Info>
    <Name>Spelade matcher</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SpeladeMatcher</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8f0501f-69e0-4b4e-aa47-91acc2ce015b">SpeladeMatcher</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="adbb8186-cbf5-4beb-943e-c785646db715" SortOrder="0">playedMatch</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3a6555ac-f1e4-42fd-a9c0-0dfc020029af</Key>
      <Name>Rubrik</Name>
      <Alias>playedMatchesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titeln på sidan]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="instllningar">Inställningar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58c869ae-83b3-4129-bd3f-3e8f61cb9052</Key>
      <Caption>Inställningar</Caption>
      <Alias>instllningar</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>