<?xml version="1.0" encoding="utf-8"?>
<Media Key="b276cf4b-4fa4-4bbf-92d2-3d90e620e93f" Alias="Coach J" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoachJ</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-03T13:51:32</CreateDate>
    <NodeName Default="Coach J" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jxhhnmve/coach_j.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>