<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b3e2e07-a790-4a5b-aa0a-6528f22c8a91" Alias="Copped Coaching" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoppedCoaching</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-30T12:40:30</CreateDate>
    <NodeName Default="Copped Coaching" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aexd2s2q/copped_coaching.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>