<?xml version="1.0" encoding="utf-8"?>
<Media Key="6149e710-28a1-4d61-94a8-28beae48b9c1" Alias="Cropped Loginhero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CroppedLoginhero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T10:15:31</CreateDate>
    <NodeName Default="Cropped Loginhero" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c1tfsynb/cropped_loginhero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>