<?xml version="1.0" encoding="utf-8"?>
<Media Key="c64dc372-8a55-4f95-b3c0-0dba07db3907" Alias="Headerimage (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Headerimage1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-31T21:22:30</CreateDate>
    <NodeName Default="Headerimage (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nlbf1rsv/headerimage]]></Value>
    </umbracoFile>
  </Properties>
</Media>