<?xml version="1.0" encoding="utf-8"?>
<Media Key="d57c0fef-6cbf-4787-ab92-0f326c16a767" Alias="Headerimage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Headerimage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-31T21:20:40</CreateDate>
    <NodeName Default="Headerimage" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ehhzvn5/headerimage.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>