<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9676def-73f0-4f02-81ae-708d6ff63d1d" Alias="Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-25T11:41:50</CreateDate>
    <NodeName Default="Hero Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3fwhpkpq/hero-image-cropped.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>