<?xml version="1.0" encoding="utf-8"?>
<Media Key="841f037f-2b87-4eb7-92a5-242538c747b4" Alias="IF Boljan Herrar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IFBoljanHerrar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T13:03:36</CreateDate>
    <NodeName Default="IF Boljan Herrar" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pebb5beh/if_boljan_herrar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>