<?xml version="1.0" encoding="utf-8"?>
<Media Key="47bfc972-39cb-44f4-9134-405f0bfef9bc" Alias="Ifk Norrkoping" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IfkNorrkoping</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T10:56:16</CreateDate>
    <NodeName Default="Ifk Norrkoping" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/otel4r4l/ifk-norrkoping.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>