<?xml version="1.0" encoding="utf-8"?>
<Media Key="103af566-ab8f-409e-b210-9324d0ace547" Alias="Logo Ica" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoIca</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T13:49:04</CreateDate>
    <NodeName Default="Logo Ica" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/md0dueep/logo-ica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>