<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ea7a3fa-5323-4b69-93bf-2baf83072397" Alias="Logo Swedbank" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoSwedbank</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T13:41:49</CreateDate>
    <NodeName Default="Logo Swedbank" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5srloxrd/logo-swedbank.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>