<?xml version="1.0" encoding="utf-8"?>
<Media Key="212d676b-8ebe-4dd4-97cd-ab225ba0174d" Alias="logo-linkedin" Level="2">
  <Info>
    <Parent Key="484b74fc-7b0d-43ac-bf78-1118d992698c">social-media-logos</Parent>
    <Path>/socialMediaLogos/logoLinkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-04T11:05:49</CreateDate>
    <NodeName Default="logo-linkedin" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nvtd0in4/linkedin_3669739.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>