<?xml version="1.0" encoding="utf-8"?>
<Media Key="5156c05b-e844-44ab-ba0b-c8ecdd0aced5" Alias="Logo Mcdonalds" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoMcdonalds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T14:03:52</CreateDate>
    <NodeName Default="Logo Mcdonalds" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lxafmuke/logo-mcdonalds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>