<?xml version="1.0" encoding="utf-8"?>
<Media Key="9596781f-9c8f-4b73-8e96-5959843d5462" Alias="Logo Cocacola" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoCocacola</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T13:37:40</CreateDate>
    <NodeName Default="Logo Cocacola" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/df2jnfmp/logo-cocacola.png",
  "focalPoint": {
    "left": 0.4885416825612386,
    "top": 0.5402777636492694
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>