<?xml version="1.0" encoding="utf-8"?>
<Media Key="2df777ca-7b64-49f3-9002-4ba717d7b2a4" Alias="logo-facebook" Level="2">
  <Info>
    <Parent Key="484b74fc-7b0d-43ac-bf78-1118d992698c">social-media-logos</Parent>
    <Path>/socialMediaLogos/logoFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-04T11:05:56</CreateDate>
    <NodeName Default="logo-facebook" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zr1polle/facebook_1384005.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>