<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ad98d9c-054b-4df8-86ba-ee7963e4f31b" Alias="Logo Amazon" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoAmazon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T14:14:44</CreateDate>
    <NodeName Default="Logo Amazon" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tkgnscsl/logo-amazon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>