<?xml version="1.0" encoding="utf-8"?>
<Media Key="98828b83-1efb-4a07-babb-37ed2364979c" Alias="Logo Gekas" Level="2">
  <Info>
    <Parent Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528">sponsor-logos</Parent>
    <Path>/sponsorLogos/LogoGekas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T14:07:54</CreateDate>
    <NodeName Default="Logo Gekas" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qwfjfgh1/logo-gekas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>