<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcfd8a66-da70-4780-9d1b-8936f41ce3dd" Alias="logo-twitter" Level="2">
  <Info>
    <Parent Key="484b74fc-7b0d-43ac-bf78-1118d992698c">social-media-logos</Parent>
    <Path>/socialMediaLogos/logoTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-04T11:05:42</CreateDate>
    <NodeName Default="logo-twitter" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mcfp1xdq/twitter_3669691.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>