<?xml version="1.0" encoding="utf-8"?>
<Media Key="484b74fc-7b0d-43ac-bf78-1118d992698c" Alias="social-media-logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/socialMediaLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-04T11:05:01</CreateDate>
    <NodeName Default="social-media-logos" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>