<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2f3743-0c88-4d6b-88ec-9efd591ea528" Alias="sponsor-logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sponsorLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-07T09:44:26</CreateDate>
    <NodeName Default="sponsor-logos" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>