<?xml version="1.0" encoding="utf-8"?>
<Media Key="e585a494-6415-43b0-bb97-a68bac53ca16" Alias="Wesley Tingey Dkckic0bqtu Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WesleyTingeyDkckic0bqtuUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T10:02:58</CreateDate>
    <NodeName Default="Wesley Tingey Dkckic0bqtu Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sksilziv/wesley-tingey-dkckic0bqtu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>