<?xml version="1.0" encoding="utf-8"?>
<Content Key="f12d0f8c-875f-4189-955f-e202cca8b6e5" Alias="Blogg" Level="3">
  <Info>
    <Parent Key="de891962-29f3-4739-bce4-dee56d33657a">Herrar</Parent>
    <Path>/Home/Herrar/Blogg</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-10-26T14:28:22</CreateDate>
    <NodeName Default="Blogg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5edbace-bb95-47cc-a3c4-5acd250276e6">Blog</Template>
  </Info>
  <Properties>
    <blogTitle>
      <Value><![CDATA[Senaste nyheterna]]></Value>
    </blogTitle>
  </Properties>
</Content>