<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a4be89c-2f9a-46c5-86b6-120f8e7d0a49" Alias="Blogg" Level="3">
  <Info>
    <Parent Key="ee1035c9-5e1e-49bd-8fe9-c3d7e5147a71">Damer</Parent>
    <Path>/Home/Damer/Blogg</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-10-30T11:38:55</CreateDate>
    <NodeName Default="Blogg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5edbace-bb95-47cc-a3c4-5acd250276e6">Blog</Template>
  </Info>
  <Properties>
    <blogTitle>
      <Value><![CDATA[Senaste nyheterna]]></Value>
    </blogTitle>
  </Properties>
</Content>