<?xml version="1.0" encoding="utf-8"?>
<Content Key="c050b03f-fd4f-4868-af44-67ea67e57e03" Alias="Böljan-Bergdalen-21-okt" Level="4">
  <Info>
    <Parent Key="4cc6a656-f5ee-4c5e-91a2-b2708030b183">Spelade matcher</Parent>
    <Path>/Home/Herrar/SpeladeMatcher/BoeljanBergdalen21Okt</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-10-31T18:41:00</CreateDate>
    <NodeName Default="Böljan-Bergdalen-21-okt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>I förra helgen ägde ännu en spännande fotbollsmatch rum på hemmaplan. Denna gång stod vi mot Bergdalens IK, och vårt lag visade upp en imponerande prestation. Matchen spelades den 21 oktober 2023 klockan 13:00.</p>
<p>Från första stund satte vi tonen för matchen genom att vara starka och välorganiserade i försvaret. Våra försvarsspelare stod som en mur och lät inte många chanser gå förbi. Det var tydligt att vårt lag hade tränat hårt och förberett sig noggrant för denna match.</p>
<p>I den första halvleken lyckades vi göra två mål som satte oss i en fördelaktig position. Bergdalens IK kämpade tappert, men vår defensiva stabilitet gjorde det svårt för dem att komma till farliga målchanser. Vid halvtidsvilan ledde vi med 2-0.</p>
<p>Under den andra halvleken fortsatte vi att dominera matchen med ett fantastiskt bollinnehav och kreativt mittfältsspel. Våra spelare visade prov på skickliga passningar och samarbete, vilket resulterade i ytterligare mål. Matchen slutade med en övertygande seger för oss med siffrorna 7-1.</p>
<p>Det var en imponerande prestation av vårt lag där alla spelare bidrog till segern. Anfallarna visade prov på skicklighet och målfarlighet, medan mittfältet styrde spelet och försvarsspelarna säkerställde vår stabila defensiva prestation.</p>
<p>Sammanfattningsvis var det en match där vårt lag visade upp sitt bästa spel och tog en övertygande seger mot Bergdalens IK. Det här resultatet kommer att stärka självförtroendet och inspirera laget att fortsätta kämpa för framgång.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[1]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-21T13:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[0]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[7]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Bergdalens IK]]></Value>
    </matchOpponent>
  </Properties>
</Content>