<?xml version="1.0" encoding="utf-8"?>
<Content Key="2789fa6f-e53d-40ae-be9f-16b238239e09" Alias="Böljan-Bergdalen-14okt" Level="4">
  <Info>
    <Parent Key="4cc6a656-f5ee-4c5e-91a2-b2708030b183">Spelade matcher</Parent>
    <Path>/Home/Herrar/SpeladeMatcher/BoeljanBergdalen14okt</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-10-31T19:35:10</CreateDate>
    <NodeName Default="Böljan-Bergdalen-14okt" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>I lördags möttes vårt lag på hemmaplan i en spännande fotbollsmatch mot Bergdalens IK. Publiken var på helspänn och förväntningarna var höga. Matchen spelades den 14 oktober 2023, klockan 12:00.</p>
<p>Det blev en tuff match där båda lagen visade upp en imponerande kämparanda. Bergdalens IK visade sig vara en värdig motståndare och gjorde det svårt för oss att hitta målet. Efter en intensiv första halvlek stod poängtavlan fortfarande på 0-0.</p>
<p>I den andra halvleken lyckades vi ta ledningen med 1-0 genom ett fantastiskt mål av vår framstående anfallare. Men Bergdalens IK gav inte upp och kämpade tappert för att komma tillbaka. Resultatet stod sig till slut och matchen avslutades med en 1-0-seger för oss.</p>
<p>Vårt lag visade en imponerande defensiv prestation och höll tätt mot motståndarna. Mittfältet var välorganiserat och ständigt på jakt efter möjligheter att bryta igenom motståndarens försvar. Våra försvarsspelare var oerhört pålitliga och bidrog till att hålla nollan i målprotokollet.</p>
<p>Sammanfattningsvis var det en spännande och välspelad match där vårt lag kämpade sig till en viktig seger. Alla spelare förtjänar en eloge för sin insats, och det visar att hårt arbete och teamwork är nyckeln till framgång.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[4]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-14T12:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[1]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[4]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Bergdalens IK]]></Value>
    </matchOpponent>
  </Properties>
</Content>