<?xml version="1.0" encoding="utf-8"?>
<Content Key="5963cf4c-3516-4247-a7d6-3f781122edc8" Alias="Contact them" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactThem</Path>
    <Trashed Parent="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">true</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-10-25T15:18:00</CreateDate>
    <NodeName Default="Contact them" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="83ca8be3-b5f9-41de-825b-420605ca53cb">ContactPage</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[grupp1@boljan.se]]></Value>
    </email>
    <phoneNumber>
      <Value><![CDATA[0761111111]]></Value>
    </phoneNumber>
  </Properties>
</Content>