<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee1035c9-5e1e-49bd-8fe9-c3d7e5147a71" Alias="Damer" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Damer</Path>
    <Trashed>false</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-24T13:57:25</CreateDate>
    <NodeName Default="Damer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9ed544-e8df-4ba4-889d-54cff39a22c5">SeniorPage</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Damsidan]]></Value>
    </headerText>
  </Properties>
</Content>