<?xml version="1.0" encoding="utf-8"?>
<Content Key="f494a69b-d57c-49e1-a325-0ad192d8240c" Alias="entry 1" Level="4">
  <Info>
    <Parent Key="f12d0f8c-875f-4189-955f-e202cca8b6e5">Blogg</Parent>
    <Path>/Home/Herrar/Blogg/entry1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogEntry</ContentType>
    <CreateDate>2023-10-26T14:29:34</CreateDate>
    <NodeName Default="entry 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[<p>Testinlägg 1 från <strong>herrarnas</strong> blogg</p>
<p><img src="?rmode=max&amp;width=500" alt="Två pojkar med en fotboll" width="500" height="192" data-udi="umb://media/a9676def73f04f0281ae708d6ff63d1d"></p>]]></Value>
    </blogContent>
    <blogDate>
      <Value><![CDATA[2023-10-30T15:00:00]]></Value>
    </blogDate>
    <blogEntryAlias>
      <Value><![CDATA[Denna]]></Value>
    </blogEntryAlias>
    <blogTitle>
      <Value><![CDATA[Test blog header 1]]></Value>
    </blogTitle>
  </Properties>
</Content>