<?xml version="1.0" encoding="utf-8"?>
<Content Key="32ecb143-4fd2-4882-bb04-5d8fbbbbf380" Alias="F07-08" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/F0708</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:18:41</CreateDate>
    <NodeName Default="F07-08" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra flickor som är födda mellan 2007 och 2008]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Flickor 2007-2008]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "daedb4cd-eba5-42a9-bb23-e173f969d04a",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>