<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaeca9ed-4f26-4c1f-a35e-67015307e5e7" Alias="F09-10" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/F0910</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:27:09</CreateDate>
    <NodeName Default="F09-10" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra flickor som är födda mellan 2009 och 2010]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Flickor 2009-2010]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "0f774895-af56-4fcf-b5fe-a2962b4074f1",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>