<?xml version="1.0" encoding="utf-8"?>
<Content Key="65c42079-5c88-4a3e-90bc-d9bc5fae3ad8" Alias="F10" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/F10</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-06T18:46:58</CreateDate>
    <NodeName Default="F10" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Herr]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "24445290-0b24-42a2-a1f4-7119b4987d01",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>