<?xml version="1.0" encoding="utf-8"?>
<Content Key="a71dc31a-44b4-4ed6-81f9-3b3a38916b43" Alias="F11-12" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/F1112</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:44:33</CreateDate>
    <NodeName Default="F11-12" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra flickor som är födda mellan 2011 och 2012]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Flickor 2011-2012]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "b1df6375-79d9-4feb-a7bb-a1960e4590fb",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>