<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a6622cc-4039-40eb-9769-4ec0bcbd79ba" Alias="F11" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/F11</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-06T18:42:38</CreateDate>
    <NodeName Default="F11" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[F11]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[]]]></Value>
    </trainerImage>
  </Properties>
</Content>