<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6c9c7f8-5fa8-4f72-9364-dced8da014d4" Alias="F2010" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/F2010</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-04T07:20:40</CreateDate>
    <NodeName Default="F2010" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jimmy tränar våra Flickor föda 2010]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Flickor 2010]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "9adb43eb-1785-4b36-99f1-b31156119667",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>