<?xml version="1.0" encoding="utf-8"?>
<Content Key="de891962-29f3-4739-bce4-dee56d33657a" Alias="Herrar" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Herrar</Path>
    <Trashed>false</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-24T13:56:20</CreateDate>
    <NodeName Default="Herrar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9ed544-e8df-4ba4-889d-54cff39a22c5">SeniorPage</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Herrsidan]]></Value>
    </headerText>
    <teamPicture>
      <Value><![CDATA[[
  {
    "key": "422e2f16-ad46-4c2c-8e1d-ca6ca9e6ec7a",
    "mediaKey": "841f037f-2b87-4eb7-92a5-242538c747b4"
  }
]]]></Value>
    </teamPicture>
  </Properties>
</Content>