<?xml version="1.0" encoding="utf-8"?>
<Content Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-10-19T10:46:36</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b03da7b9-a44d-4a5e-9697-c19e2d05e94d">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is the body text.</p>]]></Value>
    </bodyText>
    <headerText>
      <Value><![CDATA[Home page header]]></Value>
    </headerText>
    <heroHeader>
      <Value><![CDATA[IF Böljan]]></Value>
    </heroHeader>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4818bfac-b1f0-49fe-8ba0-023ad9f3c4a0",
    "mediaKey": "a9676def-73f0-4f02-81ae-708d6ff63d1d"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tortor vel augue viverra ultricies non id diam. Praesent ultrices consectetur erat non laoreet. Morbi ac augue non metus mollis viverra. Suspendisse molestie eu lorem ac facilisis. Phasellus volutpat finibus neque a vulputate. ]]></Value>
    </heroText>
    <logo>
      <Value><![CDATA[[
  {
    "key": "516c1132-e3f9-4bdd-905c-d60e922fbf34",
    "mediaKey": "9568de9e-7d3d-4a76-bf22-9d9dab153d2f"
  }
]]]></Value>
    </logo>
    <mensNextGameDate>
      <Value><![CDATA[2023-11-15T12:00:00]]></Value>
    </mensNextGameDate>
    <mensNextGameLocation>
      <Value><![CDATA[0]]></Value>
    </mensNextGameLocation>
    <mensNextGameTitle>
      <Value><![CDATA[Senior Herrar]]></Value>
    </mensNextGameTitle>
    <mensNextOpponent>
      <Value><![CDATA[IFK Norrköping]]></Value>
    </mensNextOpponent>
    <upcomingGamesTitle>
      <Value><![CDATA[Kommande matcher]]></Value>
    </upcomingGamesTitle>
    <womensNextGameDate>
      <Value><![CDATA[2023-11-22T13:00:00]]></Value>
    </womensNextGameDate>
    <womensNextGameLocation>
      <Value><![CDATA[1]]></Value>
    </womensNextGameLocation>
    <womensNextGameTitle>
      <Value><![CDATA[Senior Damer]]></Value>
    </womensNextGameTitle>
    <womensNextOpponent>
      <Value><![CDATA[IF Huskvarna]]></Value>
    </womensNextOpponent>
  </Properties>
</Content>