<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c698865-ad94-4052-9ba9-55e5e3fbadb9" Alias="IFK Böljan Damer vs. Halmstads BK" Level="4">
  <Info>
    <Parent Key="7c595971-bda2-4a6d-8666-996bd1887361">Spelade matcher</Parent>
    <Path>/Home/Damer/SpeladeMatcher/IFKBoeljanDamerVsHalmstadsBK</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-11-06T18:24:06</CreateDate>
    <NodeName Default="IFK Böljan Damer vs. Halmstads BK" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>IFK Böljan Damer mötte Halmstads BK i en spännande fotbollsmatch som ägde rum på vår hemmaarena. Det var en match som lockade många supportrar som ville se två starka lag i kamp.</p>
<p>Matchen inleddes med intensivt spel och snabba anfall från båda sidor. Halmstads BK visade sig vara en värdig motståndare och tog ledningen i den 35:e minuten med ett mål efter en välgenomförd frispark. Vårt lag gav inte upp och kämpade för att kvittera.</p>
<p>I den andra halvleken intensifierades kampen när IFK Böljan Damer lyckades göra ett viktigt mål i den 70:e minuten efter ett välplacerat skott. Matchen slutade med en oavgjord 1-1-resultat, vilket var rättvist med tanke på de prestationer som båda lagen visade.</p>
<p>Det var en välspelad match där vårt lag visade prov på beslutsamhet och förmåga att kämpa sig tillbaka. Oavgjort resultat speglade matchens intensitet och visar på lagets förmåga att konkurrera mot starka motståndare.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[1]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-25T14:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[1]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[1]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Halmstads BK]]></Value>
    </matchOpponent>
  </Properties>
</Content>