<?xml version="1.0" encoding="utf-8"?>
<Content Key="1768bdf6-acce-49c6-8b11-ede6064f3996" Alias="IFK Böljan Damer vs. Nittorps IK" Level="4">
  <Info>
    <Parent Key="7c595971-bda2-4a6d-8666-996bd1887361">Spelade matcher</Parent>
    <Path>/Home/Damer/SpeladeMatcher/IFKBoeljanDamerVsNittorpsIK</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-10-31T19:33:48</CreateDate>
    <NodeName Default="IFK Böljan Damer vs. Nittorps IK" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>IFK Böljan Damer mötte Nittorps IK i en spännande fotbollsmatch som ägde rum på vår hemmaarena. Matchen var en kamp mellan två formstarka lag som båda hade visat framstående prestationer under säsongen.</p>
<p>Efter en tuff första halvlek där båda lagen kämpade för att bryta dödläget, lyckades IFK Böljan Damer ta ledningen i den 60:e minuten med ett välplacerat skott som susade förbi Nittorps IK:s målvakt. Målet var resultatet av en fantastisk samarbetsinsats från vårt lag, som visade prov på styrka och skicklighet.</p>
<p>I den andra halvleken fortsatte kampen, och Nittorps IK pressade för en kvittering. Vårt försvar och målvakt stod dock emot de hårda anfallen och lyckades behålla ledningen. Matchen slutade med en viktig seger för IFK Böljan Damer med 1-0.</p>
<p>Det var en välspelad match som visade på vår försvarskraft och förmåga att ta vara på målchanser. Alla spelare förtjänar beröm för sin insats, och segern ger laget en välbehövlig boost till självförtroendet.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[0]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-04T14:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[1]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[1]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Nittorps IK]]></Value>
    </matchOpponent>
  </Properties>
</Content>