<?xml version="1.0" encoding="utf-8"?>
<Content Key="d700df56-e0a5-4ad9-b237-0a39032b7935" Alias="IFK Böljan Damer vs. Ängelholms FF" Level="4">
  <Info>
    <Parent Key="7c595971-bda2-4a6d-8666-996bd1887361">Spelade matcher</Parent>
    <Path>/Home/Damer/SpeladeMatcher/IFKBoeljanDamerVsAengelholmsFF</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-11-06T18:22:59</CreateDate>
    <NodeName Default="IFK Böljan Damer vs. Ängelholms FF" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>IFK Böljan Damer stod inför en utmanande match mot Ängelholms FF, som var ett tufft motstånd. Matchen ägde rum på vår hemmaarena, och förväntningarna var höga inför detta möte.</p>
<p>Matchen inleddes med snabba spelomställningar och intensiva anfall från båda lagen. Trots flera målchanser från båda håll var det Ängelholms FF som lyckades ta ledningen i den 25:e minuten med ett precisionsskott som träffade nätmaskorna.</p>
<p>I den andra halvleken ökade spänningen när IFK Böljan Damer kämpade för att kvittera. Trots ett stort bollinnehav och flera målchanser, inklusive en straffspark som tyvärr missades, lyckades laget inte komma tillbaka. Matchen avslutades med en 0-1-förlust.</p>
<p>Det var en utmanande match där vårt lag visade prov på beslutsamhet och kämpaglöd, men mötte ett starkt motstånd. Även om resultatet inte var vad vi hoppades på, kommer detta vara en värdefull erfarenhet när vi fortsätter att utvecklas som lag.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[3]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-18T15:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[1]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[0]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Ängelholms FF]]></Value>
    </matchOpponent>
  </Properties>
</Content>