<?xml version="1.0" encoding="utf-8"?>
<Content Key="3da5d7f3-e054-4602-8f37-babca7189f7d" Alias="IFK Böljan vs. Solvik United" Level="4">
  <Info>
    <Parent Key="4cc6a656-f5ee-4c5e-91a2-b2708030b183">Spelade matcher</Parent>
    <Path>/Home/Herrar/SpeladeMatcher/IFKBoeljanVsSolvikUnited</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-11-06T17:27:09</CreateDate>
    <NodeName Default="IFK Böljan vs. Solvik United" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>Söndagens möte mot Solvik United på hemmaplan bjöd på en intensiv och underhållande fotbollsmatch. Vårt lag gick in med stort självförtroende och ville visa sin bästa sida inför hemmapubliken.</p>
<p>Matchen inleddes med snabba spelomställningar och målchanser åt båda håll. I den 20:e minuten lyckades Solvik United ta ledningen med ett skarpt långskott som vårt målvakt hade svårt att nå. Trots detta tidiga bakslag kämpade vårt lag hårt för att komma tillbaka.</p>
<p>Andra halvlek blev en riktig rysare när vi, med en fantastisk vändning, lyckades göra två mål i slutskedet av matchen och säkra en 2-1-seger. Målen kom från två snabba kontringar där våra anfallare visade prov på skicklighet.</p>
<p>Det var en viktig seger som visade på vårt lags beslutsamhet och förmåga att vända matchen till vår fördel. Ett stort tack till hemmapubliken för sitt stöd och till alla spelare som kämpade tappert på planen.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[0]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-11-01T12:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[0]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[3]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Solvik United]]></Value>
    </matchOpponent>
  </Properties>
</Content>