<?xml version="1.0" encoding="utf-8"?>
<Content Key="87c9bced-51d8-4ac3-9ad8-0c2704882028" Alias="IFK Böljan vs. Ljusvik FC" Level="4">
  <Info>
    <Parent Key="4cc6a656-f5ee-4c5e-91a2-b2708030b183">Spelade matcher</Parent>
    <Path>/Home/Herrar/SpeladeMatcher/IFKBoeljanVsLjusvikFC</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-11-06T17:24:29</CreateDate>
    <NodeName Default="IFK Böljan vs. Ljusvik FC" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<p>Lördagens match mot Ljusvik FC var en nervkittlande upplevelse för vårt lag. Matchen spelades på hemmaplan, och förväntningarna var höga. Trots en tuff första halvlek där båda lagen kämpade för att göra mål, lyckades vårt lag att ta ledningen i den 40:e minuten med ett välplacerat skott. Halvtidsresultatet var 1-0 till vår fördel.</p>
<p>I den andra halvleken intensifierades kampen, och Ljusvik FC visade prov på envishet i sitt försök att kvittera. Vårt försvar höll dock stånd och fortsatte att stänga ner motståndarnas anfallsförsök. Matchen avslutades med en värdefull seger för IFK Böljan med 1-0.</p>
<p>Det var en välspelad match där vårt lag visade prov på samarbete och en stark defensiv prestation. Alla spelare förtjänar beröm för sin insats, och segern ger en välbehövlig boost till självförtroendet.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[0]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-29T12:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[1]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[3]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Ljusvik FC]]></Value>
    </matchOpponent>
  </Properties>
</Content>