<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ea3c2a9-b1aa-418c-a34b-4269a79ba9b2" Alias="Inloggad" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Inloggad</Path>
    <Trashed>false</Trashed>
    <ContentType>loggedIn</ContentType>
    <CreateDate>2023-10-30T13:10:01</CreateDate>
    <NodeName Default="Inloggad" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fed84af5-c4ba-48c9-b097-64cb0819cec9">LoggedIn</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "57616414-8c9f-4602-b15b-998800440db3",
    "mediaKey": "4b3e2e07-a790-4a5b-aa0a-6528f22c8a91"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[du är nu inloggad!]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Herrrroooooo]]></Value>
    </heroTitle>
  </Properties>
</Content>