<?xml version="1.0" encoding="utf-8"?>
<Content Key="78f2a9e1-a113-4d8b-9b6f-dd07de369b2d" Alias="ipsum" Level="4">
  <Info>
    <Parent Key="f12d0f8c-875f-4189-955f-e202cca8b6e5">Blogg</Parent>
    <Path>/Home/Herrar/Blogg/ipsum</Path>
    <Trashed>false</Trashed>
    <ContentType>blogEntry</ContentType>
    <CreateDate>2023-10-31T18:09:44</CreateDate>
    <NodeName Default="ipsum" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[<div>
<div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit sunt laudantium nam eum nemo quo repudiandae, facere illo dolor enim sit adipisci voluptates numquam assumenda qui tempora eveniet dolorem dicta iste possimus quas nobis obcaecati? Aut repellendus iste minus deleniti ipsam fugit sed eaque. Quam quaerat sunt fugit accusantium dolorum!</div>
</div>]]></Value>
    </blogContent>
    <blogDate>
      <Value><![CDATA[]]></Value>
    </blogDate>
    <blogEntryAlias>
      <Value><![CDATA[]]></Value>
    </blogEntryAlias>
    <blogTitle>
      <Value><![CDATA[Aut repellendus iste minus deleniti ipsam fugit sed eaque]]></Value>
    </blogTitle>
  </Properties>
</Content>