<?xml version="1.0" encoding="utf-8"?>
<Content Key="106b60f1-b34a-45e9-883e-955707cef4f5" Alias="Juniorer" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Juniorer</Path>
    <Trashed>false</Trashed>
    <ContentType>juniorer</ContentType>
    <CreateDate>2023-11-03T15:38:27</CreateDate>
    <NodeName Default="Juniorer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bb14c152-8d6a-49f6-a729-fe78b40d7a74">Juniorer</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "93eef8d3-5573-4060-adf1-5e69b7b77a13",
    "mediaKey": "e585a494-6415-43b0-bb97-a68bac53ca16"
  }
]]]></Value>
    </headerImage>
    <headerText>
      <Value><![CDATA[Vi är stolta över att välkomna dig till IF Böljan Juniorer, en viktig del av Falkenbergs idrottsförening. Här på vår juniorsida sätter vi fokus på framtiden och på de unga talanger som är hjärtat och själen i vår förening.]]></Value>
    </headerText>
    <headerTitle>
      <Value><![CDATA[Juniorer]]></Value>
    </headerTitle>
  </Properties>
</Content>