<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8" Alias="Juniorer" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Juniorer</Path>
    <Trashed>false</Trashed>
    <ContentType>juniorer</ContentType>
    <CreateDate>2023-11-03T13:47:54</CreateDate>
    <NodeName Default="Juniorer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bb14c152-8d6a-49f6-a729-fe78b40d7a74">Juniorer</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "6c221925-c9dd-4ad2-a2de-d3d7ca48e51c",
    "mediaKey": "d57c0fef-6cbf-4787-ab92-0f326c16a767"
  }
]]]></Value>
    </headerImage>
    <headerText>
      <Value><![CDATA[Här presenterar vi våran stora och stolta satsning på våra Juniorlag som är framtiden inom Svensk Fotboll! Heja]]></Value>
    </headerText>
    <headerTitle>
      <Value><![CDATA[Junior Lagen]]></Value>
    </headerTitle>
  </Properties>
</Content>