<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c7e96a6-f49a-445c-a685-2bce53b83754" Alias="Juniorer" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Juniorer</Path>
    <Trashed Parent="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">true</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-25T09:04:30</CreateDate>
    <NodeName Default="Juniorer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9ed544-e8df-4ba4-889d-54cff39a22c5">SeniorPage</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Glöm inte att ta bort]]></Value>
    </headerText>
  </Properties>
</Content>