<?xml version="1.0" encoding="utf-8"?>
<Content Key="8985117a-13ad-4a2e-b81b-3543289d46db" Alias="Kalender" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kalender</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarPage</ContentType>
    <CreateDate>2023-10-26T13:31:45</CreateDate>
    <NodeName Default="Kalender" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a63bf95f-de82-43a6-820d-cff99d46b4f7">CalendarPage</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/07ed645df3524aacac2514454f3b2244",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8f6132ec-2144-4fe5-974e-53680c003197",
      "udi": "umb://element/07ed645df3524aacac2514454f3b2244",
      "dataSource": "",
      "left": "title",
      "center": "today",
      "right": "prevYear,prev,next,nextYear"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockGrid>
    <heroHeader>
      <Value><![CDATA[Kalender]]></Value>
    </heroHeader>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "217ed515-a56f-4397-88c5-a6f09a1ccece",
    "mediaKey": "a9676def-73f0-4f02-81ae-708d6ff63d1d"
  }
]]]></Value>
    </heroImage>
    <infoText>
      <Value><![CDATA[Ladda om sidan tills kalendern dyker upp (tillfällig lösning innan vi matar kalendern med data)]]></Value>
    </infoText>
  </Properties>
</Content>