<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c2bc84e-45a4-4e43-9347-02135ef5bd58" Alias="Kalender" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kalender</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarPage</ContentType>
    <CreateDate>2023-10-26T13:23:24</CreateDate>
    <NodeName Default="Kalender" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a63bf95f-de82-43a6-820d-cff99d46b4f7">CalendarPage</Template>
  </Info>
  <Properties />
</Content>