<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4919642-6d5c-44c3-ab03-47fc8886f3f8" Alias="Kalendarium" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kalendarium</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarPage</ContentType>
    <CreateDate>2023-11-08T10:53:00</CreateDate>
    <NodeName Default="Kalendarium" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a63bf95f-de82-43a6-820d-cff99d46b4f7">CalendarPage</Template>
  </Info>
  <Properties>
    <heroHeader>
      <Value><![CDATA[Kalendarium]]></Value>
    </heroHeader>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8e08654c-89bd-432e-9d32-a45ede8ea3bb",
    "mediaKey": "6149e710-28a1-4d61-94a8-28beae48b9c1"
  }
]]]></Value>
    </heroImage>
  </Properties>
</Content>