<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1cd3687-e637-4d7b-88e7-8259dc26f71a" Alias="Kalender" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Kalender</Path>
    <Trashed Parent="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">true</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-25T09:04:46</CreateDate>
    <NodeName Default="Kalender" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="bf9ed544-e8df-4ba4-889d-54cff39a22c5">SeniorPage</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Glöm inte att ta bort]]></Value>
    </headerText>
  </Properties>
</Content>