<?xml version="1.0" encoding="utf-8"?>
<Content Key="a81e916c-7484-405d-a823-b220f9c768c1" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>kontakt</ContentType>
    <CreateDate>2023-10-27T09:34:22</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d606bd39-d321-4a6c-a7ef-4ba5021cba4b">Kontakt</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Skogsvägen 1, 311 45 FALKENBERG]]></Value>
    </address>
    <contactFormEmail>
      <Value><![CDATA[]]></Value>
    </contactFormEmail>
    <contactFormMessage>
      <Value><![CDATA[]]></Value>
    </contactFormMessage>
    <contactFormName>
      <Value><![CDATA[]]></Value>
    </contactFormName>
    <email>
      <Value><![CDATA[info@ifboljan.nu]]></Value>
    </email>
    <googleMapsUrl>
      <Value><![CDATA[]]></Value>
    </googleMapsUrl>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
    <phone>
      <Value><![CDATA[0730 582 562]]></Value>
    </phone>
  </Properties>
</Content>