<?xml version="1.0" encoding="utf-8"?>
<Content Key="a81e916c-7484-405d-a823-b220f9c768c1" Alias="Kontakt" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Kontakt</Path>
    <Trashed Parent="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">true</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-27T09:34:22</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d606bd39-d321-4a6c-a7ef-4ba5021cba4b">Kontakt</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Glöm inte att ta bort]]></Value>
    </headerText>
  </Properties>
</Content>