<?xml version="1.0" encoding="utf-8"?>
<Content Key="a39d2b6e-5d83-4e63-8618-97960e319709" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>herr</ContentType>
    <CreateDate>2023-10-25T09:05:13</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf9ed544-e8df-4ba4-889d-54cff39a22c5">SeniorPage</Template>
  </Info>
  <Properties>
    <headerText>
      <Value><![CDATA[Glöm inte att ta bort]]></Value>
    </headerText>
  </Properties>
</Content>