<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3a45e3c-f8ae-4e30-a4a8-1eb06e1a0d07" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>kontakt</ContentType>
    <CreateDate>2023-11-01T11:19:26</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d606bd39-d321-4a6c-a7ef-4ba5021cba4b">Kontakt</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Lorem ipsum]]></Value>
    </address>
    <contactFormEmail>
      <Value><![CDATA[]]></Value>
    </contactFormEmail>
    <contactFormMessage>
      <Value><![CDATA[<p>Lorem ipsum</p>]]></Value>
    </contactFormMessage>
    <contactFormName>
      <Value><![CDATA[Lorem ipsum]]></Value>
    </contactFormName>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <googleMapsUrl>
      <Value><![CDATA[]]></Value>
    </googleMapsUrl>
    <header>
      <Value><![CDATA[Lorem ipsum dolor sit]]></Value>
    </header>
    <phone>
      <Value><![CDATA[Lorem ipsum]]></Value>
    </phone>
  </Properties>
</Content>