<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7b81af0-cb12-4bbc-bc05-43f07104b11a" Alias="Kvaltider - IFK Böljan säkrar kvalplats" Level="4">
  <Info>
    <Parent Key="f12d0f8c-875f-4189-955f-e202cca8b6e5">Blogg</Parent>
    <Path>/Home/Herrar/Blogg/KvaltiderIFKBoeljanSaekrarKvalplats</Path>
    <Trashed>false</Trashed>
    <ContentType>blogEntry</ContentType>
    <CreateDate>2023-10-31T18:08:02</CreateDate>
    <NodeName Default="Kvaltider - IFK Böljan säkrar kvalplats" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[<div>
<p>IFK Böljan har just säkrat en efterlängtad kvalplats i fotbollsvärlden efter en formidabel avslutning på säsongen. Med fem raka segrar under bältet har laget definitivt visat sin talang och uthållighet. För herrarna är detta den första kvalmatchen på över tre årtionden, och det är en historisk prestation.</p>
<p>Belöningen för detta imponerande arbete är inledningsvis ett dubbelmöte med Bergdalens IK från Borås. Det första mötet kommer att äga rum på vår hemmaplan nu på lördag, och returen är planerad att spelas i Borås nästa helg. Det är en avgörande period för IFK Böljan, och supportrarna är redo att fira ännu en framgång.</p>
</div>
<div>
<figure><img src="?rmode=max&amp;width=500" alt="Närbild på två pojkar som håller en fotboll" width="500" height="192" data-udi="umb://media/a9676def73f04f0281ae708d6ff63d1d" data-caption="Adipisicing elit">
<figcaption></figcaption>
</figure>
<div>
<p>Om IFK Böljan lyckas besegra Bergdalens IK i detta dubbelmöte, väntar nästa utmaning - att möta det lag som slutar på nionde plats i Division 2 Västra Götaland. Det kommer att bli en tuff resa, men laget är inställt på att kämpa och visa att de hör hemma i en högre division.</p>
<p>Så vi hälsar alla gästande lag, domare och publik välkomna till denna spännande match och hoppas att vårt lag kan fortsätta sin framgångsresa!</p>
</div>
</div>]]></Value>
    </blogContent>
    <blogDate>
      <Value><![CDATA[2023-10-13T12:00:00]]></Value>
    </blogDate>
    <blogEntryAlias>
      <Value><![CDATA[]]></Value>
    </blogEntryAlias>
    <blogTitle>
      <Value><![CDATA[ Kvaltider - IFK Böljan säkrar kvalplats]]></Value>
    </blogTitle>
  </Properties>
</Content>