<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4b74878-4433-4467-918a-815f1aa8809f" Alias="Logga in" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/LoggaIn</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2023-10-27T10:16:24</CreateDate>
    <NodeName Default="Logga in" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d97b77c2-660b-412b-b409-4be07758dd37">LoginPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "f28874e5-9f0c-4637-a3c8-4afa9cf663dd",
    "mediaKey": "6149e710-28a1-4d61-94a8-28beae48b9c1"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[Välkomna att logga in, den nya sidan visar automatiskt rätt sida efter du loggat in]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Logga in]]></Value>
    </heroTitle>
  </Properties>
</Content>