<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7b81af0-cb12-4bbc-bc05-43f07104b11a" Alias="lorem" Level="4">
  <Info>
    <Parent Key="f12d0f8c-875f-4189-955f-e202cca8b6e5">Blogg</Parent>
    <Path>/Home/Herrar/Blogg/lorem</Path>
    <Trashed>false</Trashed>
    <ContentType>blogEntry</ContentType>
    <CreateDate>2023-10-31T18:08:02</CreateDate>
    <NodeName Default="lorem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[<div>
<div>Lorem ipsum dolor, <strong>sit amet consectetur adipisicing elit</strong>. Eius aut vitae expedita, est nemo eaque quam. Eos earum vitae aliquid, corrupti odit praesentium. Voluptatibus est nemo omnis at quas optio rerum. Deserunt iste deleniti adipisci omnis dolore. Quas ab, repellat voluptas voluptate distinctio laborum optio! Officia accusantium obcaecati quisquam eum.</div>
<div>
<figure><img src="?rmode=max&amp;width=500" alt="Närbild på två pojkar som håller en fotboll" width="500" height="192" data-udi="umb://media/a9676def73f04f0281ae708d6ff63d1d" data-caption="Adipisicing elit">
<figcaption>Adipisicing elit</figcaption>
</figure>
<div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolor.</div>
</div>
</div>
</div>]]></Value>
    </blogContent>
    <blogDate>
      <Value><![CDATA[]]></Value>
    </blogDate>
    <blogEntryAlias>
      <Value><![CDATA[]]></Value>
    </blogEntryAlias>
    <blogTitle>
      <Value><![CDATA[Lorem ipsum dolor sit]]></Value>
    </blogTitle>
  </Properties>
</Content>