<?xml version="1.0" encoding="utf-8"?>
<Content Key="1768bdf6-acce-49c6-8b11-ede6064f3996" Alias="NittorpsIK-Böljan-4okt" Level="4">
  <Info>
    <Parent Key="7c595971-bda2-4a6d-8666-996bd1887361">Spelade matcher</Parent>
    <Path>/Home/Damer/SpeladeMatcher/NittorpsIKBoeljan4okt</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-10-31T19:33:48</CreateDate>
    <NodeName Default="NittorpsIK-Böljan-4okt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAnalysis>
      <Value><![CDATA[<h2>Nullam mattis velit sodales!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus quam quis urna porta vulputate. Phasellus aliquet nec sem quis aliquam. Nullam mattis velit sodales, sollicitudin tellus in, condimentum risus. Mauris venenatis sem at augue dictum, nec bibendum nibh pharetra. Donec vehicula venenatis leo, non faucibus mauris vulputate et. Proin bibendum nulla non risus pulvinar semper. Mauris dictum ante sit amet ante tristique, in rhoncus sapien laoreet. Curabitur imperdiet aliquet lectus, quis auctor neque pellentesque ac.</p>
<p>Vestibulum ligula elit, facilisis aliquet mi et, pellentesque fringilla felis. Nam dolor ante, faucibus quis nulla non, interdum hendrerit enim. Nam tristique, risus quis tincidunt convallis, enim sem pellentesque risus, molestie efficitur nisi sapien non lorem. Maecenas dictum arcu vitae volutpat sagittis. Pellentesque venenatis sagittis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam facilisis arcu dui. Praesent tincidunt, enim et imperdiet scelerisque, neque nisi fermentum orci, at sollicitudin eros lorem vitae arcu. Pellentesque iaculis nulla eget mi pharetra interdum. Sed cursus eu ligula sed ultricies. Phasellus pulvinar, ligula sed dapibus aliquet, sem tortor accumsan dolor, vitae maximus nunc urna in odio. Etiam malesuada nisl justo, id ornare risus tincidunt at. Duis sagittis augue non auctor dapibus. Vestibulum eu tortor vel est lacinia pretium.</p>]]></Value>
    </matchAnalysis>
    <matchAwayScore>
      <Value><![CDATA[2]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-04T14:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[0]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[5]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Nittorps IK]]></Value>
    </matchOpponent>
  </Properties>
</Content>