<?xml version="1.0" encoding="utf-8"?>
<Content Key="1768bdf6-acce-49c6-8b11-ede6064f3996" Alias="NittorpsIK-Böljan-4okt" Level="4">
  <Info>
    <Parent Key="7c595971-bda2-4a6d-8666-996bd1887361">Spelade matcher</Parent>
    <Path>/Home/Damer/SpeladeMatcher/NittorpsIKBoeljan4okt</Path>
    <Trashed>false</Trashed>
    <ContentType>playedMatch</ContentType>
    <CreateDate>2023-10-31T19:33:48</CreateDate>
    <NodeName Default="NittorpsIK-Böljan-4okt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82cec0ab-7302-4f2f-b205-88440aa22ad2">SpeladMatch</Template>
  </Info>
  <Properties>
    <matchAwayScore>
      <Value><![CDATA[2]]></Value>
    </matchAwayScore>
    <matchDate>
      <Value><![CDATA[2023-10-04T14:00:00]]></Value>
    </matchDate>
    <matchHomeArena>
      <Value><![CDATA[]]></Value>
    </matchHomeArena>
    <matchHomeScore>
      <Value><![CDATA[5]]></Value>
    </matchHomeScore>
    <matchOpponent>
      <Value><![CDATA[Nittorps IK]]></Value>
    </matchOpponent>
  </Properties>
</Content>