<?xml version="1.0" encoding="utf-8"?>
<Content Key="daaf412e-34b3-406a-b135-8dfcee4696dd" Alias="Ny huvudtränare för IFK Böljan herrlag" Level="4">
  <Info>
    <Parent Key="f12d0f8c-875f-4189-955f-e202cca8b6e5">Blogg</Parent>
    <Path>/Home/Herrar/Blogg/NyHuvudtraenareFoerIFKBoeljanHerrlag</Path>
    <Trashed>false</Trashed>
    <ContentType>blogEntry</ContentType>
    <CreateDate>2023-11-06T18:02:32</CreateDate>
    <NodeName Default="Ny huvudtränare för IFK Böljan herrlag" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de4cc206-e666-4848-9b5f-a2b3ca3e2e60">BlogEntry</Template>
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[<p>IFK Böljan herrlag välkomnar en hemvändare som ny huvudtränare. Anders Pentéus, med en stark koppling till klubben och gedigen utbildning hos FF, har antagit utmaningen att ta över rodret från Joel.</p>
<p>Efter några år på andra sidan Kristineslättsallén återvänder<strong> Anders Pentéus</strong> till sin moderklubb med en uppdrag att föra herrlaget till nya höjder. Med en kombination av Böljan-DNA och en gedigen tränarutbildning hos FF, är han rätt man att ta över stafettpinnen från Joel. Det blir en spännande tid för laget, och supportrarna ser fram emot att se hur Anders Pentéus leder laget mot nya framgångar. Vi önskar honom stort lycka till!</p>
<p>Hoppas dessa utökade nyhetsartiklar passar ditt bloggprojekt!</p>]]></Value>
    </blogContent>
    <blogDate>
      <Value><![CDATA[2023-09-20T12:00:00]]></Value>
    </blogDate>
    <blogEntryAlias>
      <Value><![CDATA[]]></Value>
    </blogEntryAlias>
    <blogTitle>
      <Value><![CDATA[Ny huvudtränare för IFK Böljan herrlag]]></Value>
    </blogTitle>
  </Properties>
</Content>