<?xml version="1.0" encoding="utf-8"?>
<Content Key="e241601e-a1e4-4b29-bf45-85853aa59c39" Alias="Organisationsblogg" Level="2">
  <Info>
    <Parent Key="f175b472-4ef5-40a8-8b8b-821f8e3d57d4">Home</Parent>
    <Path>/Home/Organisationsblogg</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-11-08T13:55:04</CreateDate>
    <NodeName Default="Organisationsblogg" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5edbace-bb95-47cc-a3c4-5acd250276e6">Blog</Template>
  </Info>
  <Properties>
    <blogTitle>
      <Value><![CDATA[Senaste klubbnytt]]></Value>
    </blogTitle>
  </Properties>
</Content>