<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6f84f10-be6d-4c2e-ba29-dc330d840815" Alias="P05" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/P05</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-06T18:48:41</CreateDate>
    <NodeName Default="P05" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Herrjuniorer]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "a6bf5fbf-ab27-4b2a-b815-fa37d8cf1c67",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>