<?xml version="1.0" encoding="utf-8"?>
<Content Key="823e1e98-f6dd-42aa-b523-00e271ccca66" Alias="P06" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/P06</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-06T18:49:09</CreateDate>
    <NodeName Default="P06" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Herrjuniorer]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "d67f5b01-9cf1-46c5-80ca-e8fae8fc3816",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>