<?xml version="1.0" encoding="utf-8"?>
<Content Key="007c872e-8246-4d1a-81ec-c101c72bd476" Alias="P07-08" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/P0708</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T13:52:02</CreateDate>
    <NodeName Default="P07-08" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra pojkar som är födda mellan 2007 och 2008]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Pojkar 2007-2008]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "cec22629-e85e-49be-a307-ad3a655f53c3",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>