<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d232f43-b857-45c9-8f4a-53dc48f0de2e" Alias="P09-10" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/P0910</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:20:19</CreateDate>
    <NodeName Default="P09-10" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra pojkar som är födda mellan 2009 och 2010]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Pojkar 2009-2010]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "2c83a555-ef2a-46b5-ae7f-bd2c71514216",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>