<?xml version="1.0" encoding="utf-8"?>
<Content Key="e926cc82-6de8-421b-bd6e-24cb7b8f90cc" Alias="P09-10" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/P0910</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T20:49:13</CreateDate>
    <NodeName Default="P09-10" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jimmy tränar våra Pojkar födda 2009-2010]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Pojkar 2009-2010]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "88aeb73b-d35c-44ce-8f36-e55ce5eaeb29",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>