<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6541619-0c26-4be5-9223-d22b4566fb46" Alias="P10" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/P10</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T15:40:06</CreateDate>
    <NodeName Default="P10" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Pojkar 10 år]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[P-10]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "a047c7c9-c93f-4ebf-be1f-d85d6cd051ed",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>