<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d2d5fce-db47-47fc-85b3-b83a2333ab25" Alias="P11-12" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/P1112</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:44:11</CreateDate>
    <NodeName Default="P11-12" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra pojkar som är födda mellan 2011 och 2012]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Pojkar 2011-2012]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "456156e8-1266-4bc0-902c-817835baef04",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>