<?xml version="1.0" encoding="utf-8"?>
<Content Key="c929ed72-d38c-4997-a5cd-9ee0581b8cc1" Alias="P12" Level="3">
  <Info>
    <Parent Key="106b60f1-b34a-45e9-883e-955707cef4f5">Juniorer</Parent>
    <Path>/Home/Juniorer/P12</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T15:40:26</CreateDate>
    <NodeName Default="P12" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Flickor 10 år]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[F10]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "7eaa221d-7df4-4591-9617-28dd3456c330",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>