<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcd70e3c-cddd-4050-9505-d4deb8d1a3a4" Alias="P13-14" Level="3">
  <Info>
    <Parent Key="ff7c3bd2-680f-4cff-92ac-49823245c3c8">Juniorer</Parent>
    <Path>/Home/Juniorer/P1314</Path>
    <Trashed>false</Trashed>
    <ContentType>lagPresentation</ContentType>
    <CreateDate>2023-11-03T14:45:04</CreateDate>
    <NodeName Default="P13-14" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e06dde-1e0d-489c-a32c-d8343241a9e5">LagPresentation</Template>
  </Info>
  <Properties>
    <lagInformation>
      <Value><![CDATA[Jonas tränar våra pojkar som är födda mellan 2013 och 2014]]></Value>
    </lagInformation>
    <lagNamnOchAar>
      <Value><![CDATA[Pojkar 2013-14]]></Value>
    </lagNamnOchAar>
    <trainerImage>
      <Value><![CDATA[[
  {
    "key": "9b863556-7bec-4fa8-8c73-f675d0c089fa",
    "mediaKey": "b276cf4b-4fa4-4bbf-92d2-3d90e620e93f"
  }
]]]></Value>
    </trainerImage>
  </Properties>
</Content>