<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cc6a656-f5ee-4c5e-91a2-b2708030b183" Alias="Spelade matcher" Level="3">
  <Info>
    <Parent Key="de891962-29f3-4739-bce4-dee56d33657a">Herrar</Parent>
    <Path>/Home/Herrar/SpeladeMatcher</Path>
    <Trashed>false</Trashed>
    <ContentType>speladeMatcher</ContentType>
    <CreateDate>2023-10-31T18:38:12</CreateDate>
    <NodeName Default="Spelade matcher" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d8f0501f-69e0-4b4e-aa47-91acc2ce015b">SpeladeMatcher</Template>
  </Info>
  <Properties>
    <playedMatchesTitle>
      <Value><![CDATA[Spelade matcher]]></Value>
    </playedMatchesTitle>
  </Properties>
</Content>