<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c595971-bda2-4a6d-8666-996bd1887361" Alias="Spelade matcher" Level="3">
  <Info>
    <Parent Key="ee1035c9-5e1e-49bd-8fe9-c3d7e5147a71">Damer</Parent>
    <Path>/Home/Damer/SpeladeMatcher</Path>
    <Trashed>false</Trashed>
    <ContentType>speladeMatcher</ContentType>
    <CreateDate>2023-10-31T19:01:00</CreateDate>
    <NodeName Default="Spelade matcher" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d8f0501f-69e0-4b4e-aa47-91acc2ce015b">SpeladeMatcher</Template>
  </Info>
  <Properties>
    <playedMatchesTitle>
      <Value><![CDATA[Spelade matcher]]></Value>
    </playedMatchesTitle>
  </Properties>
</Content>