@using System.Globalization;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    // Configuration
    const string CURRENT_CULTURE = "sv-SE";

    // Get the pageName from ViewData
    var isIndividualEntry = ViewData["isIndividualEntry"] as bool?;
    var item = ViewData["item"] as IPublishedContent;

    // Render content
    if (isIndividualEntry == true)
    {
        <h2>@item!.Value("blogTitle")</h2>
    }
    else
    {
        <h3><a href="@item!.Url()">@item!.Value("blogTitle")</a></h3>
    }
    <p>@item!.Value("blogContent")</p>
    <p><small>Publicerat av @GetAlias() @GetDate()</small></p>

    // Support methods
    string GetDate()
    {
        var date = item!.Value("blogDate") as DateTime?;

        if (date == default(DateTime))
        {
            date = item!.CreateDate;
        }

        var culture = new CultureInfo(CURRENT_CULTURE);

        return date.HasValue
            ? date.Value.ToString("yyyy-MM-dd HH:mm", culture)
            : "";
    }

    string GetAlias()
    {
        var creatorAlias = item!.Value("blogEntryAlias") as string;

        if (string.IsNullOrEmpty(creatorAlias))
            creatorAlias = item!.CreatorName() ?? "";

        return creatorAlias;
    }
}