@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="text-center text-lg-start footer-background text-white mt-auto">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        <p>© 2023 Copyright: Grupp 1</p>
    </div>
</div>