@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto' sans-serif !important;
    font-size:0.9rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 0;
}

main {
    flex: 1;
}

.bold {
    font-weight: bold;
}

.btn-primary {
    background: #004499 !important;
    border-style: none !important;
}

.btn-primary:hover {
    background: #dc7100 !important;
}

.container-fluid{
    padding: 0 0 0 0 !important;
}

.divHover {
    transition: transform 300ms ease-in-out;
}

.divHover:hover {
    transform: scale(1.02, 1.02);
}


.content-card {
        background-size: cover;
        background-position: center;
        
        padding: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.footer-background{
    background: #0054A6;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
}

.logotype {
    height: 10rem;
    width: 10rem;

    z-index: 99;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.nav-link {
    color: #004499 !important;
}

.nav-link:hover {
    color: #dc7100 !important;
}

.primary-background{
 background: #000000;   
}

.secondary-background{
    background: #EDEDED;
}

/* contact css  */
.contact-section {
    display: flex;
    align-items: flex-start;
    
    background-image: url("@Model.Value("headerImage")");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9; 
    padding: 20px;
    margin: 0;
}

.contact-info, .contact-form {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.contact-info{
    margin-top: 150px;
    margin-left: 50px;
}

.btn-primary{
    margin-top:10px;
}

.img-fluid {
    max-width: 100%; /* Ensures the image doesn't exceed its container width */
    height: auto;    /* Maintains the image's aspect ratio */
    
}

.responsive-line {
    border-right: 1px solid #ccc;
    border-top: none;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 767px) {
    .responsive-line {
        border-right: none;
        border-top: 1px solid #ccc;
    }
}