@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CalendarPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@{
    var url = "";
    var mediaItem = Model.Value<IPublishedContent>("heroImage");

    if (mediaItem != null)
    {
        url = mediaItem.Url();
    }
}

<div>
    <!--HERO START-->
    <div class="text-center bg-image rounded-3" style="background-image: url(@url); width: 100vw; height: 60vh; background-size: cover;">
        <div class="mask" style="background-color: rgba(255, 255, 255, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="container text-white">
                    <h1 class="mb-3">@Model.Value("heroHeader")</h1>
                </div>
            </div>
        </div>
    </div>
    <!--HERO END-->
    @await Html.GetBlockGridHtmlAsync(Model.BlockGrid)

</div>
