@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<html>
    <head>
        <title>@Model.Name</title>
        <link href="/css/globals.css" type="text/css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <!--BODY-->
    <body class="container-fluid">
        <!--HEADER-->
        <header>
            @await Html.PartialAsync("Navigation")
        </header>
        <!--MAIN-->
        <main>
            <div class="container-fluid mt-5">
            @RenderBody()
            </div>
        </main>
        <!--FOOTER-->
        <footer class="">
            @await Html.PartialAsync("Footer")
        </footer>
    </body>
</html>