@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Herr>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!--THE ONLY PURPOSE OF THE CODE BELOW IS TO SHOW PAGE NAME. REMOVE WHEN TIME COMES :D-->
<div class="min-vw-100 align-middle text-center">
    <div class="p-5"></div>
    <h1 class="align-middle">@Model.Name</h1>
</div>