@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Herr>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<br />
<br />

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <!-- Display the blog -->
            @{
                ViewData["pageName"] = Model.Name;
            }
            @await Html.PartialAsync("BlogContent")
        </div>
        <div class="col-md-4">
            <!-- Display played matches -->
            @{
                ViewData["pageName"] = Model.Name;
            }
            @await Html.PartialAsync("PlayedMatchesPV")
        </div>
    </div>
</div>